<div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-indicators">
        <% carouselImages.forEach((image, index) => { %>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="<%= index %>" 
                    class="<%= index === 0 ? 'active' : '' %>" aria-label="Slide <%= index + 1 %>"></button>
        <% }) %>
    </div>

    <div class="carousel-inner">
        <% carouselImages.forEach((image, index) => { %>
            <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                <a href="/products"><img src="/images/<%= image %>" class="d-block w-100" alt="Slide <%= index + 1 %>"></a>
            </div>
        <% }) %>
    </div>
</div>

<div class="col-6 col-md-4 col-lg-3 col-xl-2 container">
    <a href="/products"><img class="missguidedimgs" src="Images/missguidedimg4.webp" alt="missguided"></a>
    <a href="/products"><img class="missguidedimgs" src="/Images/missguidedimg6.webp" alt="missguided"></a>
    <a href="/products"><img class="missguidedimgs" src="/Images/missguidedimg7.webp" alt="missguided"></a>
    <a href="/products"><img class="missguidedimgs" src="/Images/missguidedimg8.webp" alt="missguided"></a>
    <a href="/products"><img class="missguidedimgs" src="/Images/missguidedimg9.webp" alt="missguided"></a>
    <a href="/products"><img class="missguidedimgs" src="/Images/missguidedimg10.webp" alt="missguided"></a>
    <a href="/products"><img class="missguidedimgs" src="/Images/missguidedimg11.webp" alt="missguided"></a>
    <a href="/products"><img class="missguidedimgs" src="/Images/missguidedimg12.webp" alt="missguided"></a>
</div>

<div class="container">
    <a href="/products"><img class="missguideddisplayimgs" src="/Images/missguidedimg13.webp" alt="missguided"></a>
    <a href="/products"><img class="missguideddisplayimgs" src="/Images/missguidedimg14.webp" alt="missguided"></a>
    <a href="/products"><img class="missguideddisplayimgs" src="/Images/missguidedimg15.webp" alt="missguided"></a>
</div>

<div class="products-container">
            <div class="container">
                <div class="row justify-content-center">
                    <div class = 'col-6 col-md-4 col-lg-3 col-xl-2 products-wrapper'>
                        <span class = "saleTag">25% OFF</span>
                        <a href=""><img class = "productimages" src="Images/missguiededimg16pt1.webp" alt="missguided"></a>
                        <div class = 'overlay'><a href=""><img src="Images/missguidedimg16pt2.webp" alt="missguided"></a></div>
                        <a href=""><span class="addtocart">Add To Cart</span></a>
                        <a class="productname" href="">Knitted Stripe Sleeveless Bodycon Mini Dress</a>
                        <span class="sale-price">$5.59<span class="original-prices">$7.04</span></span>
                        
                    </div>
                    <div class = 'col-6 col-md-4 col-lg-3 col-xl-2 products-wrapper'>
                        <span class = "saleTag">25% OFF</span>
                        <a href=""><img class = "productimages" src="Images/missguidedimg17.webp" alt="missguided"></a>
                        <div class = 'overlay'><a href=""><img src="Images/missguidedimg17pt2.webp" alt="missguided"></a></div>
                        <a href=""><span class="addtocart">Add To Cart</span></a>
                        <a class="productname" href="">Sheer Shirring Halter Neck Top And Maxi Skirt Two Piece Co Ord Set</a>
                        <span class="sale-price">$27.99<span class="original-prices">$35.27</span></span>
                    </div>
                    <div class = 'col-6 col-md-4 col-lg-3 col-xl-2 products-wrapper'>
                        <span class = "saleTag">25% OFF</span>
                        <a href=""><img class = "productimages" src="Images/missguidedimg18pt1.webp" alt="missguided"></a>
                        <div class = 'overlay'><a href=""><img src="Images/missguidedimg18pt2.webp" alt="missguided"></a></div>
                        <a href=""><span class="addtocart">Add To Cart</span></a>
                        <a class="productname" href="">Fluffy Knit Button Through Cardigan</a>
                        <span class="sale-price">$11.24<span class="original-prices">$14.99</span></span>
                    </div>
                    <div class = 'col-6 col-md-4 col-lg-3 col-xl-2 products-wrapper'>
                        <span class = "saleTag">25% OFF</span>
                        <a href=""><img class = "productimages" src="Images/missguidedimg19pt1.webp" alt="missguided"></a>
                        <div class = 'overlay'><a href=""><img src="Images/missguidedimg19pt2.webp" alt="missguided"></a></div>
                        <a href=""><span class="addtocart">Add To Cart</span></a>
                        <a class="productname" href="">Tailored Sleeveless Top And Wide Leg Two Piece Co-Ord Set</a>
                        <span class="sale-price">$18.39<span class="original-prices">$23.17</span></span>
                    </div>
                    <div class = 'col-6 col-md-4 col-lg-3 col-xl-2 products-wrapper'>
                        <span class = "saleTag">25% OFF</span>
                        <a href=""><img class = "productimages" src="Images/missguidedimg20pt1.webp" alt="missguided"></a>
                        <div class = 'overlay'><a href=""><img src="Images/missguidedimg20pt2.webp" alt="missguided"></a></div>
                        <a href=""><span class="addtocart">Add To Cart</span></a>
                        <a class = "productname" href="">Missguided x Playboy All Over Bunny Print Henley Top And Shorts Two Piece Pajama Co Ord Set</a>
                        <span class = "sale-price">$18.39<span class = "original-prices">$23.17</span></span>
                    </div>
                </div>
            </div>
        </div>


        <div class="products-container">
            <div class="container">
                <div class="row justify-content-center">
                    <div class = 'col-6 col-md-4 col-lg-3 col-xl-2 products-wrapper'>
                        <span class = "saleTag">25% OFF</span>
                        <a href=""><img class = "productimages" src="Images/missguidedimg21pt1.webp" alt="missguided"></a>
                        <div class = 'overlay'><a href=""><img src="Images/missguidedimg21pt2.webp" alt="missguided"></a></div>
                        <a href=""><span class="addtocart">Add To Cart</span></a>
                        <a class="productname" href="">Asymmetric One Shoulder Drape Mini Dress</a>
                        <span class="sale-price">$10.39<span class="original-prices">$13.09</span></span>
                        
                    </div>
                    <div class = 'col-6 col-md-4 col-lg-3 col-xl-2 products-wrapper'>
                        <span class = "saleTag">25% OFF</span>
                        <a href=""><img class = "productimages" src="Images/missguidedimg22pt1.webp" alt="missguided"></a>
                        <div class = 'overlay'><a href=""><img src="Images/missguidedimg22pt2.webp" alt="missguided"></a></div>
                        <a href=""><span class="addtocart">Add To Cart</span></a>
                        <a class="productname" href="">Missguided x Playboy Small Bunny Vest And Fitted Shorts Two Piece Pajama Co Ord Set</a>
                        <span class="sale-price">$15.99<span class="original-prices">$20.15</span></span>
                    </div>
                    <div class = 'col-6 col-md-4 col-lg-3 col-xl-2 products-wrapper'>
                        <span class = "saleTag">25% OFF</span>
                        <a href=""><img class = "productimages" src="Images/missguidedimg23pt1.webp" alt="missguided"></a>
                        <div class = 'overlay'><a href=""><img src="Images/missguidedimg23pt2.webp" alt="missguided"></a></div>
                        <a href=""><span class="addtocart">Add To Cart</span></a>
                        <a class="productname" href="">Bead Detail Bardot Babydoll Mini Dress</a>
                        <span class="sale-price">$11.99<span class="original-prices">$15.11</span></span>
                    </div>
                    <div class = 'col-6 col-md-4 col-lg-3 col-xl-2 products-wrapper'>
                        <span class = "saleTag">25% OFF</span>
                        <a href=""><img class = "productimages" src="Images/missguidedimg24pt1.webp" alt="missguided"></a>
                        <div class = 'overlay'><a href=""><img src="Images/missguidedimg24pt2.webp" alt="missguided"></a></div>
                        <a href=""><span class="addtocart">Add To Cart</span></a>
                        <a class="productname" href="">Crochet Ombre Print Fitted Hot Pants</a>
                        <span class="sale-price">$3.99<span class="original-prices">$5.03</span></span>
                    </div>
                    <div class = 'col-6 col-md-4 col-lg-3 col-xl-2 products-wrapper'>
                        <span class = "saleTag">25% OFF</span>
                        <a href=""><img class = "productimages" src="Images/missguidedimg25pt1.webp" alt="missguided"></a>
                        <div class = 'overlay'><a href=""><img src="Images/missguidedimg25pt2.webp" alt="missguided"></a></div>
                        <a href=""><span class="addtocart">Add To Cart</span></a>
                        <a class="productname" href="">Stripe Crochet Knit Long Sleeves Open Back Bodycon Mini Dress</a>
                        <span class="sale-price">$9.99<span class="original-prices">$23.09</span></span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="products-container">
            <div class="container">
                <div class="row justify-content-center">
                    <div class = 'col-6 col-md-4 col-lg-3 col-xl-2 products-wrapper'>
                        <span class = "saleTag">25% OFF</span>
                        <a href=""><img class="productimages" src="Images/missguidedimg26pt1.webp" alt="missguided"></a>
                        <div class="overlay"><a href=""><img src="Images/missguidedimg26pt2.webp" alt="missguided"></a></div>
                        <a href=""><span class="addtocart">Add To Cart</span></a>
                        <a class="productname" href="">Metal Trim Detail Cut Out Side Slit Knitted Maxi Dress</a>
                        <span class="sale-price">$13.49<span class="original-prices">$17.99</span></span>
                        
                    </div>
                    <div class = 'col-6 col-md-4 col-lg-3 col-xl-2 products-wrapper'>
                        <span class = "saleTag">25% OFF</span>
                        <a href=""><img class="productimages" src="Images/missguidedimg27pt1.webp" alt="missguided"></a>
                        <div class="overlay"><a href=""><img src="Images/missguidedimg27pt2.webp" alt="missguided"></a></div>
                        <a href=""><span class="addtocart">Add To Cart</span></a>
                        <a class="productname" href="">Pleated Halter Neck Skater Mini Dress</a>
                        <span class="sale-price">$11.24<span class="original-prices">$14.99</span></span>
                    </div>
                    <div class = 'col-6 col-md-4 col-lg-3 col-xl-2 products-wrapper'>
                        <span class = "saleTag">25% OFF</span>
                        <a href=""><img class="productimages" src="Images/missguidedimg28pt1.webp" alt="missguided"></a>
                        <div class="overlay"><a href=""><img src="Images/missguidedimg28pt2.webp" alt="missguided"></a></div>
                        <a href=""><span class="addtocart">Add To Cart</span></a>
                        <a class="productname" href="">One Shoulder O Ring Detail Cut Out Maxi Beach Dress</a>
                        <span class="sale-price">$19.99<span class="original-prices">$25.19</span></span>
                    </div>
                    <div class = 'col-6 col-md-4 col-lg-3 col-xl-2 products-wrapper'>
                        <span class = "saleTag">25% OFF</span>
                        <a href=""><img class="productimages" src="Images/missguidedimg29pt1.webp" alt="missguided"></a>
                        <div class="overlay"><a href=""><img src="Images/missguidedimg29pt2.webp" alt="missguided"></a></div>
                        <a href=""><span class="addtocart">Add To Cart</span></a>
                        <a class="productname" href="">Asymmetric One Shoulder Cut Out Waist Side Tie Bodycon Mini Dress</a>
                        <span class="sale-price">$8.79<span class="original-prices">$11.08</span></span>
                    </div>
                    <div class = 'col-6 col-md-4 col-lg-3 col-xl-2 products-wrapper'>
                        <span class = "saleTag">25% OFF</span>
                        <a href=""><img class="productimages" src="Images/missguidedimg30pt1.webp" alt="missguided"></a>
                        <div class="overlay"><a href=""><img src="Images/missguidedimg30pt2.webp" alt="missguided"></a></div>
                        <a href=""><span class="addtocart">Add To Cart</span></a>
                        <a class="productname" href="">Sequin Knit Sleeveless Bodycon Mini Dress</a>
                        <span class="sale-price">$13.59<span class="original-prices">$17.12</span></span>
                    </div>
                </div>
            </div>
        </div>


        <div class="products-container">
            <div class="container">
                <div class="row justify-content-center">
                    <div class = 'col-6 col-md-4 col-lg-3 col-xl-2 products-wrapper'>
                        <span class = "saleTag">25% OFF</span>
                        <a href=""><img class = "productimages" src="Images/missguidedimg31pt1.webp" alt="missguided"></a>
                        <div class = 'overlay'><a href=""><img src="Images/missguidedimg31pt2.webp" alt="missguided"></a></div>
                        <a href=""><span class="addtocart">Add To Cart</span></a>
                        <a class="productname" href="">Satin Cowl Neck Spaghetti Strap Drape Mini Dress</a>
                        <span class="sale-price">$11.33<span class="original-prices">$15.11</span></span>
                    </div>
                    <div class = 'col-6 col-md-4 col-lg-3 col-xl-2 products-wrapper'>
                        <span class = "saleTag">25% OFF</span>
                        <a href=""><img class = "productimages" src="Images/missguidedimg32pt1.webp" alt="missguided"></a>
                        <div class = 'overlay'><a href=""><img src="Images/missguidedimg32pt2.webp" alt="missguided"></a></div>
                        <a href=""><span class="addtocart">Add To Cart</span></a>
                        <a class="productname" href="">Missguided x Playboy All Over Bunny Long Sleeved Shirt And Wide Leg Pants Two Piece Pajama Co Ord Set</a>
                        <span class="sale-price">$37.49<span class="original-prices">$49.99</span></span>
                    </div>
                    <div class = 'col-6 col-md-4 col-lg-3 col-xl-2 products-wrapper'>
                        <span class = "saleTag">25% OFF</span>
                        <a href=""><img class = "productimages" src="Images/missguidedimg33pt2.webp" alt="missguided"></a>
                        <div class = 'overlay'><a href=""><img src="Images/missguidedimg33pt1.webp" alt="missguided"></a></div>
                        <a href=""><span class="addtocart">Add To Cart</span></a>
                        <a class="productname" href="">Slinky Deep Plunge Cowl Neck Bodycon Mini Dress</a>
                        <span class="sale-price">$9.59<span class="original-prices">$12.08</span></span>
                    </div>
                    <div class = 'col-6 col-md-4 col-lg-3 col-xl-2 products-wrapper'>
                        <span class = "saleTag">25% OFF</span>
                        <a href=""><img class = "productimages" src="Images/missguidedimg34pt1.webp" alt="missguided"></a>
                        <div class = 'overlay'><a href=""><img src="Images/missguidedimg34pt2.webp" alt="missguided"></a></div>
                        <a href=""><span class="addtocart">Add To Cart</span></a>
                        <a class="productname" href="">Sheer KniCowl Neck Strappy Midi Dress</a>
                        <span class="sale-price">$8.24<span class="original-prices">$10.99</span></span>
                    </div>
                    <div class = 'col-6 col-md-4 col-lg-3 col-xl-2 products-wrapper'>
                        <span class = "saleTag">25% OFF</span>
                        <a href=""><img class = "productimages" src="Images/missguidedimg35pt1.webp" alt="missguided"></a>
                        <div class = 'overlay'><a href=""><img src="Images/missguidedimg35pt2.webp" alt="missguided"></a></div>
                        <a href=""><span class="addtocart">Add To Cart</span></a>
                        <a class="productname" href="">Graphic Printed Drop Shoulder Oversized T-Shirt</a>
                        <span class="sale-price">$12.74<span class="original-prices">$16.99</span></span>
                    </div>
                </div>
            </div>
        </div>

<button class="d-block mx-auto" id="ViewMore">
    <a href="/products" style="text-decoration: none; color: inherit;">View More ▾</a>
</button>